* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}
:root,
html[data-theme="dark"] {
  --background-color: #090f16;
}

:root,
html[data-theme="light"] {
  --background-color: white;
}
body {
  background: var(--background-color) !important;
}
